.elementor-58436 .elementor-element.elementor-element-a8edd8c .elementor-background-slideshow__slide__image {
    background-size: cover;
    background-position: bottom center;
}

.elementor-58436 .elementor-element.elementor-element-a8edd8c > .elementor-background-overlay {
    background-color: #000000;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-58436 .elementor-element.elementor-element-a8edd8c {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 100px 100px 100px;
}

.elementor-58436 .elementor-element.elementor-element-4246336 img {
    filter: brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
}

.elementor-58436 .elementor-element.elementor-element-4246336 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-58436 .elementor-element.elementor-element-4b1e065 {
    text-align: center;
}

.elementor-58436 .elementor-element.elementor-element-4b1e065 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Quicksand", Sans-serif;
    font-weight: 600;
}

.elementor-58436 .elementor-element.elementor-element-583dbb3 {
    --divider-border-style: dots_tribal;
    --divider-color: #FFFFFF;
    --divider-pattern-height: 20px;
}

.elementor-58436 .elementor-element.elementor-element-583dbb3 .elementor-divider-separator {
    width: 48%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-58436 .elementor-element.elementor-element-583dbb3 .elementor-divider {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-58436 .elementor-element.elementor-element-a41aeb0 {
    --spacer-size: 180px;
}

.elementor-58436 .elementor-element.elementor-element-898e046 .elementor-button {
    font-family: "Quicksand", Sans-serif;
    font-weight: 500;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: transparent;
    background-image: linear-gradient(180deg, #5c5cad 100%, #FFFDFD 100%);
}

.elementor-58436 .elementor-element.elementor-element-bad3aef .elementor-background-slideshow__slide__image {
    background-position: center center;
}

.elementor-58436 .elementor-element.elementor-element-bad3aef > .elementor-background-overlay {
    background-color: #201A1A;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-58436 .elementor-element.elementor-element-bad3aef {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 100px 100px 100px;
}

.elementor-58436 .elementor-element.elementor-element-3388668 img {
    filter: brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
}

.elementor-58436 .elementor-element.elementor-element-94bd8ad {
    --divider-border-style: dots_tribal;
    --divider-color: #FFFFFF;
    --divider-pattern-height: 20px;
}

.elementor-58436 .elementor-element.elementor-element-94bd8ad .elementor-divider-separator {
    width: 48%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-58436 .elementor-element.elementor-element-94bd8ad .elementor-divider {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-58436 .elementor-element.elementor-element-c443d6c {
    text-align: center;
}

.elementor-58436 .elementor-element.elementor-element-c443d6c .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Quicksand", Sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.elementor-58436 .elementor-element.elementor-element-88631db .elementor-background-slideshow__slide__image {
    background-position: top right;
}

.elementor-58436 .elementor-element.elementor-element-88631db {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-58436 .elementor-element.elementor-element-88631db > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-58436 .elementor-element.elementor-element-a12214e > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-58436 .elementor-element.elementor-element-a12214e > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-58436 .elementor-element.elementor-element-2364d81 {
    --spacer-size: 25px;
}

.elementor-58436 .elementor-element.elementor-element-110d97b .pt_plus_countdown li > span {
    color: #000000;
}

.elementor-58436 .elementor-element.elementor-element-110d97b .pt_plus_countdown li > span {
    font-family: "Roboto", Sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 52px;
}

.elementor-58436 .elementor-element.elementor-element-110d97b .pt_plus_countdown li.count_1 h6 {
    color: #000000;
}

.elementor-58436 .elementor-element.elementor-element-110d97b .pt_plus_countdown li.count_1 {
    border-color: #000000;
}

.elementor-58436 .elementor-element.elementor-element-110d97b .pt_plus_countdown li.count_2 h6 {
    color: #000000;
}

.elementor-58436 .elementor-element.elementor-element-110d97b .pt_plus_countdown li.count_2 {
    border-color: #000000;
}

.elementor-58436 .elementor-element.elementor-element-110d97b .pt_plus_countdown li.count_3 h6 {
    color: #000000;
}

.elementor-58436 .elementor-element.elementor-element-110d97b .pt_plus_countdown li.count_3 {
    border-color: #000000;
}

.elementor-58436 .elementor-element.elementor-element-110d97b .pt_plus_countdown li.count_4 h6 {
    color: #000000;
}

.elementor-58436 .elementor-element.elementor-element-110d97b .pt_plus_countdown li.count_4 {
    border-color: #000000;
}

.elementor-58436 .elementor-element.elementor-element-110d97b .pt_plus_countdown li {
    border-style: solid;
    border-width: 3px 3px 3px 3px;
}

.elementor-58436 .elementor-element.elementor-element-fdccff6 .elementor-background-slideshow__slide__image {
    background-position: center center;
}

.elementor-58436 .elementor-element.elementor-element-fdccff6 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-58436 .elementor-element.elementor-element-fdccff6 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-58436 .elementor-element.elementor-element-8c28629 {
    --spacer-size: 50px;
}

.elementor-58436 .elementor-element.elementor-element-08f4d0f .elementor-testimonial-content {
    color: #7A7A7A;
    font-family: "Quicksand", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
}

.elementor-58436 .elementor-element.elementor-element-08f4d0f .elementor-testimonial-name {
    color: #B88917;
    font-family: "Tangerine", Sans-serif;
    font-size: 30px;
    font-weight: 900;
}

.elementor-58436 .elementor-element.elementor-element-1181621 {
    --spacer-size: 50px;
}

.elementor-58436 .elementor-element.elementor-element-81728e0 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-58436 .elementor-element.elementor-element-81728e0 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-58436 .elementor-element.elementor-element-ce55591 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-58436 .elementor-element.elementor-element-ce55591 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-58436 .elementor-element.elementor-element-d902952 {
    --spacer-size: 50px;
}

.elementor-58436 .elementor-element.elementor-element-6826b7a {
    --e-image-carousel-slides-to-show: 1;
}

.elementor-58436 .elementor-element.elementor-element-d177c23 {
    --e-image-carousel-slides-to-show: 1;
}

.elementor-58436 .elementor-element.elementor-element-aeb97d7 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-58436 .elementor-element.elementor-element-aeb97d7 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-58436 .elementor-element.elementor-element-7e12b41 {
    text-align: center;
}

.elementor-58436 .elementor-element.elementor-element-7e12b41 .elementor-heading-title {
    color: #5c5cad;
    font-family: "Daydream", Sans-serif;
    font-size: 65px;
    font-weight: 600;
}

.elementor-58436 .elementor-element.elementor-element-8aecbcc {
    --e-image-carousel-slides-to-show: 6;
}

.elementor-58436 .elementor-element.elementor-element-c2c02a2 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-58436 .elementor-element.elementor-element-c2c02a2 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-58436 .elementor-element.elementor-element-f7e955a {
    --spacer-size: 50px;
}

.elementor-58436 .elementor-element.elementor-element-cec6a67 {
    text-align: center;
}

.elementor-58436 .elementor-element.elementor-element-cec6a67 .elementor-heading-title {
    color: #5c5cad;
    font-family: "Daydream", Sans-serif;
    font-size: 65px;
    font-weight: 600;
}

.elementor-58436 .elementor-element.elementor-element-88aa201 {
    text-align: center;
}

.elementor-58436 .elementor-element.elementor-element-88aa201 .elementor-heading-title {
    color: #000000;
    font-family: "Quicksand", Sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
}

.elementor-58436 .elementor-element.elementor-element-8dc1485 {
    text-align: center;
}

.elementor-58436 .elementor-element.elementor-element-8dc1485 .elementor-heading-title {
    color: #000000;
    font-family: "Quicksand", Sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
}

.elementor-58436 .elementor-element.elementor-element-e44900c .elementor-button {
    font-family: "Quicksand", Sans-serif;
    font-weight: 500;
    fill: #FFF4F4;
    color: #FFF4F4;
    background-color: #5c5cad;
}

.elementor-58436 .elementor-element.elementor-element-18b15ae {
    --spacer-size: 50px;
}

.elementor-58436 .elementor-element.elementor-element-64fc0ea {
    text-align: center;
}

.elementor-58436 .elementor-element.elementor-element-64fc0ea .elementor-heading-title {
    color: #000000;
    font-family: "Quicksand", Sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
}

.elementor-58436 .elementor-element.elementor-element-33cdbfa {
    text-align: center;
}

.elementor-58436 .elementor-element.elementor-element-33cdbfa .elementor-heading-title {
    color: #000000;
    font-family: "Quicksand", Sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
}

.elementor-58436 .elementor-element.elementor-element-7f84dbf .elementor-button {
    font-family: "Quicksand", Sans-serif;
    font-weight: 500;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #5c5cad;
}

.elementor-58436 .elementor-element.elementor-element-b4ccd35 {
    --spacer-size: 50px;
}

.elementor-58436 .elementor-element.elementor-element-3297213 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-58436 .elementor-element.elementor-element-3297213 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-58436 .elementor-element.elementor-element-78d7249 {
    --spacer-size: 50px;
}

.elementor-58436 .elementor-element.elementor-element-3973ae8 {
    text-align: center;
}

.elementor-58436 .elementor-element.elementor-element-3973ae8 .elementor-heading-title {
    color: #5c5cad;
    font-family: "Daydream", Sans-serif;
    font-size: 65px;
    font-weight: 600;
}

.elementor-58436 .elementor-element.elementor-element-1b1181e {
    text-align: center;
}

.elementor-58436 .elementor-element.elementor-element-1b1181e .elementor-heading-title {
    color: #000000;
    font-family: "Quicksand", Sans-serif;
    font-size: 15px;
    font-weight: normal;
}

.elementor-58436 .elementor-element.elementor-element-46a9977 img {
    width: 10%;
}

.elementor-58436 .elementor-element.elementor-element-9eed15d .elementor-background-slideshow__slide__image {
    background-position: center center;
}

.elementor-58436 .elementor-element.elementor-element-9eed15d {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-58436 .elementor-element.elementor-element-9eed15d > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-58436 .elementor-element.elementor-element-b8cd258 {
    --spacer-size: 50px;
}

.elementor-58436 .elementor-element.elementor-element-e05e0b7 {
    text-align: center;
}

.elementor-58436 .elementor-element.elementor-element-e05e0b7 .elementor-heading-title {
    color: #5c5cad;
    font-family: "Daydream", Sans-serif;
    font-size: 65px;
    font-weight: 600;
}

.elementor-58436 .elementor-element.elementor-element-8465d6b {
    text-align: center;
}

.elementor-58436 .elementor-element.elementor-element-8465d6b .elementor-heading-title {
    color: #3E3F3F;
    font-family: "Quicksand", Sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
}

.elementor-58436 .elementor-element.elementor-element-e821f66 {
    text-align: center;
}

.elementor-58436 .elementor-element.elementor-element-e821f66 .elementor-heading-title {
    color: #3E3F3F;
    font-family: "Quicksand", Sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
}

.elementor-58436 .elementor-element.elementor-element-90addaf {
    text-align: center;
}

.elementor-58436 .elementor-element.elementor-element-90addaf .elementor-heading-title {
    color: #3E3F3F;
    font-family: "Quicksand", Sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
}

.elementor-58436 .elementor-element.elementor-element-5140b6a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-58436 .elementor-element.elementor-element-5140b6a > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-58436 .elementor-element.elementor-element-89d1d1a {
    --spacer-size: 50px;
}

.elementor-58436 .elementor-element.elementor-element-d5e682a {
    text-align: center;
}

.elementor-58436 .elementor-element.elementor-element-d5e682a .elementor-heading-title {
    color: #5c5cad;
    font-family: "Daydream", Sans-serif;
    font-size: 65px;
    font-weight: 600;
}

.elementor-58436 .elementor-element.elementor-element-79c1a81 {
    text-align: center;
}

.elementor-58436 .elementor-element.elementor-element-79c1a81 .elementor-heading-title {
    color: #000000;
    font-family: "Quicksand", Sans-serif;
    font-size: 15px;
    font-weight: normal;
    -webkit-text-stroke-color: #000;
    stroke: #000;
}

.elementor-58436 .elementor-element.elementor-element-594b11f img {
    width: 20%;
}

.elementor-58436 .elementor-element.elementor-element-8efff1a img {
    width: 20%;
}

.elementor-58436 .elementor-element.elementor-element-9582ad3 {
    --spacer-size: 50px;
}

.elementor-58436 .elementor-element.elementor-element-d6c436e > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-58436 .elementor-element.elementor-element-d6c436e > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-58436 .elementor-element.elementor-element-034179e {
    --spacer-size: 50px;
}

.elementor-58436 .elementor-element.elementor-element-dffc43c {
    text-align: center;
}

.elementor-58436 .elementor-element.elementor-element-dffc43c .elementor-heading-title {
    color: #5c5cad;
    font-family: "Daydream", Sans-serif;
    font-size: 65px;
    font-weight: 600;
}

.elementor-58436 .elementor-element.elementor-element-0057ddb {
    width: var( --container-widget-width, 100% );
    max-width: 100%;
    --container-widget-width: 100%;
    --container-widget-flex-grow: 0;
}

.elementor-58436 .elementor-element.elementor-element-36aacce {
    text-align: center;
}

.elementor-58436 .elementor-element.elementor-element-36aacce img {
    width: 5%;
}

.elementor-58436 .elementor-element.elementor-element-4bbdaeb .elementor-icon-box-wrapper {
    text-align: center;
}

.elementor-58436 .elementor-element.elementor-element-4bbdaeb .elementor-icon-box-title {
    color: #000000;
}

.elementor-58436 .elementor-element.elementor-element-4bbdaeb .elementor-icon-box-title, .elementor-58436 .elementor-element.elementor-element-4bbdaeb .elementor-icon-box-title a {
    font-family: "Quicksand", Sans-serif;
    font-weight: 600;
}

.elementor-58436 .elementor-element.elementor-element-4bbdaeb .elementor-icon-box-description {
    color: #000000;
    font-family: "Quicksand", Sans-serif;
    font-weight: 400;
}

.elementor-58436 .elementor-element.elementor-element-7e89b60 {
    --spacer-size: 50px;
}

.elementor-58436 .elementor-element.elementor-element-fe7d2af:not(.elementor-motion-effects-element-type-background), .elementor-58436 .elementor-element.elementor-element-fe7d2af > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-58436 .elementor-element.elementor-element-fe7d2af {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-58436 .elementor-element.elementor-element-fe7d2af > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-58436 .elementor-element.elementor-element-512ce7f {
    --spacer-size: 50px;
}

.elementor-58436 .elementor-element.elementor-element-acbba15 {
    text-align: center;
}

.elementor-58436 .elementor-element.elementor-element-acbba15 .elementor-heading-title {
    color: #5c5cad;
    font-family: "Daydream", Sans-serif;
    font-size: 60px;
    font-weight: 600;
}

.elementor-58436 .elementor-element.elementor-element-6ac1c12 {
    text-align: center;
}

.elementor-58436 .elementor-element.elementor-element-6ac1c12 .elementor-heading-title {
    color: #000000;
    font-family: "Quicksand", Sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.elementor-58436 .elementor-element.elementor-element-33362a3 {
    width: var( --container-widget-width, 4.945% );
    max-width: 4.945%;
    --container-widget-width: 4.945%;
    --container-widget-flex-grow: 0;
    top: 50vh;
}

body:not(.rtl) .elementor-58436 .elementor-element.elementor-element-33362a3 {
    left: 0px;
}

body.rtl .elementor-58436 .elementor-element.elementor-element-33362a3 {
    right: 0px;
}

.elementor-58436 .elementor-element.elementor-element-bdec66a {
    --spacer-size: 50px;
}

.elementor-58436 .elementor-element.elementor-element-8840722:not(.elementor-motion-effects-element-type-background), .elementor-58436 .elementor-element.elementor-element-8840722 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF87;
}

.elementor-58436 .elementor-element.elementor-element-8840722 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-58436 .elementor-element.elementor-element-8840722 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-58436 .elementor-element.elementor-element-c7a8f9f .elementor-icon-wrapper {
    text-align: center;
}

.elementor-58436 .elementor-element.elementor-element-c7a8f9f.elementor-view-stacked .elementor-icon {
    background-color: #000000;
}

.elementor-58436 .elementor-element.elementor-element-c7a8f9f.elementor-view-framed .elementor-icon, .elementor-58436 .elementor-element.elementor-element-c7a8f9f.elementor-view-default .elementor-icon {
    color: #000000;
    border-color: #000000;
}

.elementor-58436 .elementor-element.elementor-element-c7a8f9f.elementor-view-framed .elementor-icon, .elementor-58436 .elementor-element.elementor-element-c7a8f9f.elementor-view-default .elementor-icon svg {
    fill: #000000;
}

.elementor-58436 .elementor-element.elementor-element-551ca34 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-58436 .elementor-element.elementor-element-551ca34.elementor-view-stacked .elementor-icon {
    background-color: #000000;
}

.elementor-58436 .elementor-element.elementor-element-551ca34.elementor-view-framed .elementor-icon, .elementor-58436 .elementor-element.elementor-element-551ca34.elementor-view-default .elementor-icon {
    color: #000000;
    border-color: #000000;
}

.elementor-58436 .elementor-element.elementor-element-551ca34.elementor-view-framed .elementor-icon, .elementor-58436 .elementor-element.elementor-element-551ca34.elementor-view-default .elementor-icon svg {
    fill: #000000;
}

.elementor-58436 .elementor-element.elementor-element-6e45c3d .elementor-icon-wrapper {
    text-align: center;
}

.elementor-58436 .elementor-element.elementor-element-6e45c3d.elementor-view-stacked .elementor-icon {
    background-color: #000000;
}

.elementor-58436 .elementor-element.elementor-element-6e45c3d.elementor-view-framed .elementor-icon, .elementor-58436 .elementor-element.elementor-element-6e45c3d.elementor-view-default .elementor-icon {
    color: #000000;
    border-color: #000000;
}

.elementor-58436 .elementor-element.elementor-element-6e45c3d.elementor-view-framed .elementor-icon, .elementor-58436 .elementor-element.elementor-element-6e45c3d.elementor-view-default .elementor-icon svg {
    fill: #000000;
}

.elementor-58436 .elementor-element.elementor-element-e866f2a .elementor-icon-wrapper {
    text-align: center;
}

.elementor-58436 .elementor-element.elementor-element-e866f2a.elementor-view-stacked .elementor-icon {
    background-color: #000000;
}

.elementor-58436 .elementor-element.elementor-element-e866f2a.elementor-view-framed .elementor-icon, .elementor-58436 .elementor-element.elementor-element-e866f2a.elementor-view-default .elementor-icon {
    color: #000000;
    border-color: #000000;
}

.elementor-58436 .elementor-element.elementor-element-e866f2a.elementor-view-framed .elementor-icon, .elementor-58436 .elementor-element.elementor-element-e866f2a.elementor-view-default .elementor-icon svg {
    fill: #000000;
}

.elementor-58436 .elementor-element.elementor-element-9bc2fa0 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-58436 .elementor-element.elementor-element-9bc2fa0.elementor-view-stacked .elementor-icon {
    background-color: #000000;
}

.elementor-58436 .elementor-element.elementor-element-9bc2fa0.elementor-view-framed .elementor-icon, .elementor-58436 .elementor-element.elementor-element-9bc2fa0.elementor-view-default .elementor-icon {
    color: #000000;
    border-color: #000000;
}

.elementor-58436 .elementor-element.elementor-element-9bc2fa0.elementor-view-framed .elementor-icon, .elementor-58436 .elementor-element.elementor-element-9bc2fa0.elementor-view-default .elementor-icon svg {
    fill: #000000;
}

body.elementor-page-58436:not(.elementor-motion-effects-element-type-background), body.elementor-page-58436 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("https://d35agoybhxvn83.cloudfront.net/uploads/2024/01/Untitled-design-4.jpg");
    background-position: center center;
    background-size: auto;
}

@media(min-width: 768px) {
    .elementor-58436 .elementor-element.elementor-element-b14b912 {
        width:25%;
    }

    .elementor-58436 .elementor-element.elementor-element-564080d {
        width: 75%;
    }

    .elementor-58436 .elementor-element.elementor-element-99a5504 {
        width: 25%;
    }

    .elementor-58436 .elementor-element.elementor-element-4959329 {
        width: 75%;
    }
}

@media(max-width: 1024px) {
    .elementor-58436 .elementor-element.elementor-element-8aecbcc {
        --e-image-carousel-slides-to-show:2;
    }
}

@media(max-width: 767px) {
    .elementor-58436 .elementor-element.elementor-element-8aecbcc {
        --e-image-carousel-slides-to-show:3;
    }
}

/* Start Custom Fonts CSS */
/* End Custom Fonts CSS */
